In [29]:
import pandas as pd
import json as json

In [30]:
df= pd.read_json('data.json')
print(df)

       City  Temperature  Humidity Condition
0  New York           22        60     Sunny

In [31]:
data = {
    'Employee_1': {
        'Name': 'Alice',
        'Age': 30,
        'Country': 'USA',
        'Salary': 70000,
        'Experience': 5
    },
    'Employee_2': {
        'Name': 'Bob',
        'Age': 25,
        'Country': 'USA',
        'Salary': 60000,
        'Experience': 3
    }
}

# Convert the nested dictionary to a DataFrame
df = pd.DataFrame(data).T  # .T transposes so each employee is a row

df.to_json('data.json', orient='records', indent=4)

print("JSON file created successfully.")

JSON file created successfully.