In [ ]:
import pandas as pd

In [ ]:
my_data={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['F','M','F'],
    'City':['New York','Los Angeles','Chicago'],
    'Course':['Physics','Chemistry','Biology']
}

rv= pd.DataFrame(my_data)


data_list=[
    ['Rocky',21,'M','New York','Maths'],
    ['John',22,'M','Los Angeles','Biology'],
    ['Emma',23,'F','Chicago','Chemistry']
]
columns = ['Name', 'Age', 'Gender', 'City', 'Course']
rv1 = pd.DataFrame(data_list, columns=columns)



rv_final=pd.concat([rv,rv1],ignore_index=True)
print(rv_final)